

<h1>My tasks</h1>
<% @tasks.each do |task| %>
  <h2><%= link_to task.title, task_path(task.id) %></h2>
  <p><%= link_to "Delete task", task_path(task.id), method: :delete %></p>
<% end %>

<p><%= link_to "Add a new task", new_path %></p>



